html {
  margin-top: -8px !important;
  margin-right: -20px;
  width: 100vw;
}

.body {
  background: linear-gradient(0deg, rgb(131, 202, 203) 0%, rgb(166, 160, 246) 100%);
  font-family: "Oswald";
  color: rgb(41, 60, 99);
}

h2 {
  margin-left: 35%;
  font-size: 50px;
  line-height: 40px;
  letter-spacing: 1.5px;
  color: rgb(41, 60, 99);
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none; /* Remove underline from links */
}

fieldset {
  border: none;
}

.inactive {
  display: none;
}

.header-navigation {
  position: fixed;
  background: linear-gradient(0deg, rgb(131, 202, 203) 30%, rgb(166, 160, 246) 100%);
  padding: 30px;
  width: 30%;
  height: 100vh;
  top: 0;
  left: 0;
}
.header-navigation .menu-navigation {
  margin-left: 12%;
  margin-top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  -moz-column-gap: 0px;
       column-gap: 0px;
}
.header-navigation .menu-navigation .contact-menu {
  cursor: pointer;
}
.header-navigation .menu-navigation .menu-item {
  height: 50px;
  font-family: "Oswald";
  font-size: 40px;
  padding: 15px;
  color: rgb(41, 60, 99);
  text-decoration: none !important;
  width: 40%;
}
.header-navigation .menu-navigation .menu-item .home-button-menu {
  cursor: pointer;
}

.menu-item:hover {
  animation: grow 0.5s ease-in-out forwards, zoom 0.7s ease-in-out forwards;
  color: rgb(189, 0, 0);
}

.home-button-menu {
  cursor: pointer;
}

.logo-navigation {
  position: absolute;
  margin-left: 5%;
  margin: auto;
  margin-top: 1%;
  z-index: 101;
  height: 25px;
  width: auto;
  cursor: pointer;
}

.menu-item::after {
  content: "";
  position: absolute;
  bottom: -3px; /* Adjust as needed */
  left: 0;
  width: 100%;
  height: 2px; /* Adjust as needed */
  background-color: rgb(41, 60, 99); /* Adjust the color as needed */
  transition: width 0.9s ease;
}

.menu-item:hover::after {
  animation: underline-in 0.7s forwards;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-5px);
  }
  50% {
    transform: translate(5px);
  }
  75% {
    transform: translate(-5px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes underline-in {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes underline-out {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
#skills {
  border-top: 4px groove rgb(94, 94, 175);
  padding-top: 50px;
  padding-bottom: 150px;
  margin-left: 32%;
  background: linear-gradient(0deg, rgb(166, 160, 246) 30%, rgb(131, 202, 203) 90%);
}
#skills .skills-title {
  padding: 35px;
  margin-left: 40%;
}
#skills .skills-info {
  display: inline-flex;
  justify-content: space-evenly;
  margin-left: 27%;
}
#skills .skills-text {
  margin-left: 23%;
  font-size: 25px;
  width: 700px;
  text-align: center;
  justify-content: center;
}

.skills-info img {
  height: 65px;
  width: 65px;
  padding: 20px;
}

h3 {
  font-size: 26px;
  font-family: "Roboto Mono";
  font-weight: 300;
}

.portfolio {
  height: 100vh;
  padding-bottom: -50px;
  padding-top: 50px;
  background: linear-gradient(0deg, rgb(131, 202, 203) 100%, rgb(166, 160, 246) 0%);
  width: 70%;
  margin-left: 30%;
}
.portfolio .portfolio-title {
  margin-left: 45% !important;
  margin-bottom: 50px;
}
.portfolio .content-area .entry-content .portfolio-each {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: space-evenly;
  width: 70%;
  margin-left: 10%;
  padding: 20px;
  height: auto;
}
.portfolio .content-area .entry-content .portfolio-each .portfolio-item {
  background-color: transparent;
  border-radius: 10px;
  width: 840px;
  height: 330px;
  margin-left: 10%;
}
.portfolio .content-area .entry-content .portfolio-each .portfolio-item:hover {
  box-shadow: 0 0 10px 3px rgb(246, 219, 160);
  background-color: rgba(255, 255, 255, 0.2);
}
.portfolio .content-area .entry-content .portfolio-each .portfolio-item h3 {
  margin-left: 40%;
  justify-content: center;
  text-decoration: none !important;
}
.portfolio .content-area .entry-content .portfolio-each .portfolio-item .portfolio-thumbnail img {
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 30px;
  border-radius: 5px;
}
.portfolio .content-area .entry-content .portfolio-each .portfolio-item .portfolio-description {
  padding: 2%;
}
.portfolio .content-area .entry-content .portfolio-each .portfolio-item .item-content {
  display: inline-flex;
}

.banner .banner-title {
  opacity: 1;
  padding: 20px;
  position: absolute;
  width: 300px;
  font-size: 20px;
  top: 11%;
  left: 13%;
  background: white;
  color: black;
  mix-blend-mode: screen;
  border-radius: 20px;
}

#about-me {
  display: inline-block;
  height: 60vh;
  background-image: url("");
  background-position: center;
  background-size: contain;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
  width: 70%;
  margin-left: 30%;
  background: linear-gradient(0deg, rgb(131, 202, 203) 0%, rgb(166, 160, 246) 100%);
  border-bottom: none;
}
#about-me .about-me-title {
  margin-left: 10%;
}
#about-me .aboutme {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#about-me .aboutme .about-me-info {
  width: 50%;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 120px;
  text-align: center;
}
#about-me .aboutme .about-me-photo {
  padding-top: 30px;
  flex: 1 1 auto;
  margin-left: 12%;
}
#about-me .aboutme .photo-aboutme {
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  width: 250px;
  border-radius: 37%;
  box-shadow: 0px 0px 20px 5px #f0efb9;
}

.banner-title:hover {
  animation: grow 1.2s ease-in-out forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1); /* Adjust the scale factor as needed */
  }
}
.projects-page {
  font-family: "Oswald";
  color: rgb(41, 60, 99);
  width: 100%;
  background: linear-gradient(0deg, rgb(131, 202, 203) 30%, rgb(166, 160, 246) 100%);
  height: auto;
  padding-bottom: 100px;
  font-size: 20px;
}
.projects-page .banner-image {
  background-color: transparent;
  margin-left: 10%;
}
.projects-page .main-post-div .single-page-post-heading {
  padding-top: 40px;
  margin-left: 55%;
  font-size: 50px;
}
.projects-page .main-post-div .content-here {
  margin-left: 20%;
}
.projects-page .main-post-div .content-here .wp-element-caption {
  font-size: 25px;
}
.projects-page .main-post-div .content-here .wp-image-17, .projects-page .main-post-div .content-here .wp-image-94, .projects-page .main-post-div .content-here .wp-image-71 {
  border-radius: 15px;
}
.projects-page .main-post-div .content-here .swiperJS-container {
  padding-left: 100px;
}
.projects-page .main-post-div .content-here .mota-gallery {
  padding-bottom: 40px;
}
.projects-page .main-post-div .content-here .key-features {
  margin-left: 12%;
  padding-top: 5%;
  margin-left: 25%;
  width: 60%;
}
.projects-page .main-post-div .content-here .key-features h3 {
  font-size: 35px;
  letter-spacing: -1px;
  font-weight: 400;
}
.projects-page .main-post-div .content-here .content-box {
  width: 70%;
  margin-left: 12%;
  padding-bottom: 50px;
  margin-left: 23%;
}
.projects-page .main-post-div .content-here .content-box p {
  padding-bottom: 30px;
}
.projects-page .main-post-div .content-here .banner-image {
  padding: 20px;
  padding-bottom: 50px;
}
.projects-page .main-post-div .content-here .banner-image img {
  width: 60%;
  height: auto;
  margin-left: 22% !important;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  justify-content: center;
  align-content: center;
}
.projects-page .main-post-div .github-container .github-img {
  width: 80px;
  margin-left: 2%;
  margin-top: 5%;
  cursor: pointer;
}
.projects-page .main-post-div .github-container .github-img:hover {
  box-shadow: 0 0 25px #ffffff;
  transition-duration: 0.5s;
  border-radius: 50%;
}
.projects-page .koukaki-video {
  width: 80%;
  border-radius: 50px;
  margin-left: 10%;
}

.form-overlay {
  position: fixed;
  height: 100vh;
  padding-top: 20px;
  margin-bottom: 50px !important;
  width: 100%;
  top: 0;
  z-index: 105;
}
.form-overlay .form-container .form {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  position: relative;
  font-family: "Kanit";
  font-weight: 400;
  font-size: 20px;
  display: flex;
  margin: auto;
  justify-content: center;
  width: 40%;
  height: 650px;
  z-index: 107;
  top: 0;
  right: 0;
}
.form-overlay .form-container .form:hover {
  box-shadow: 0 0 10px 8px rgb(58, 58, 58);
}
.form-overlay .form-container .form .inner-form {
  display: flex;
  flex-direction: column;
  margin-left: 11%;
}
.form-overlay .form-container .form .form-close {
  position: absolute;
  height: 33px;
  width: 33px;
  right: 20px;
  padding: 10px;
  top: 10px;
  animation-name: hover-out;
  animation-duration: 1s;
  cursor: pointer;
}
.form-overlay .form-container .form .form-close:hover {
  animation: hover-in 1s forwards;
}
.form-overlay .form-container .form p {
  padding: 10px;
}
.form-overlay .form-container .form label {
  justify-content: center;
  text-align: center;
  align-content: center;
  margin: auto;
}
.form-overlay .form-container .form input {
  height: 30px;
  border: 1px rgb(41, 60, 99) solid;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Kanit";
  color: rgb(41, 60, 99);
}
.form-overlay .form-container .form input:hover {
  border-bottom: 2px rgb(41, 60, 99) solid;
}
.form-overlay .form-container .form input::-moz-placeholder {
  color: rgb(167, 167, 167);
}
.form-overlay .form-container .form input::placeholder {
  color: rgb(167, 167, 167);
}
.form-overlay .form-container .form input:active {
  border: none;
}
.form-overlay .form-container .form textarea {
  border: 1px rgb(41, 60, 99) solid;
  border-top: none;
  border-left: none;
  border-right: none;
  resize: none !important;
  color: rgb(41, 60, 99);
  cursor: text;
}
.form-overlay .form-container .form textarea:hover {
  border-bottom: 2px rgb(41, 60, 99) solid;
}
.form-overlay .form-container .form .wpcf7-submit {
  padding: 10px;
  width: 200px;
  margin-top: 20px;
  margin-left: 15%;
  justify-content: center;
  border: 1.5px black solid;
  height: 40px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgb(173, 173, 173);
  letter-spacing: 1.5px;
}
.form-overlay .form-container .form .wpcf7-submit:hover {
  background-color: rgb(41, 60, 99);
  color: white;
  transition: 0.6s;
}
.form-overlay .form-container .form .wpcf7-response-output {
  background-color: white;
  border-radius: 10px;
  border-color: red;
}

.slideOut {
  animation: slideOut 0.5s forwards;
}

.slideIn {
  animation: slideIn 1.2s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-250%) translateY(100%);
  }
  to {
    transform: translateX(30%) translateY(5%);
  }
}
@keyframes slideOut {
  from {
    transform: translateX(30%) translateY(5%);
  }
  to {
    transform: translateX(120%) translateY(-120%);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes hover-in {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.5;
  }
}
@keyframes hover-out {
  0% {
    scale: 1.5;
  }
  100% {
    scale: 1;
  }
}