.banner .header-image {
  position: relative;
  background-attachment: fixed;
  width: 100vw;
  height: 75vh;
  padding: 0px;
  -o-object-position: top;
     object-position: top;
  z-index: -1;
}
.banner .banner-title {
  opacity: 1;
  padding: 20px;
  position: absolute;
  width: 550px;
  font-size: 50px;
  top: 40%;
  left: 10%;
  background: white;
  color: black;
  mix-blend-mode: screen;
  border-radius: 50px;
}

#about-me {
  height: 50vh;
  background-image: url("");
  background-position: center;
  background-size: contain;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 30px;
  width: 100%;
  margin: auto;
}
#about-me .aboutme {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
#about-me .aboutme .about-me-info {
  justify-content: end;
  width: 40%;
  font-size: 20px;
}
#about-me .aboutme .photo-aboutme {
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 3px solid grey;
}

.banner-title:hover {
  animation: grow 1.2s ease-in-out forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1); /* Adjust the scale factor as needed */
  }
}