.body {
  background-color: rgb(219, 210, 197);
  font-family: "Oswald";
}

h2 {
  margin-left: 15%;
  font-size: 40px;
  line-height: 20px;
  letter-spacing: 1.5px;
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none; /* Remove underline from links */
}

.header-navigation {
  background-color: aliceblue;
  padding: 30px;
  width: 100%;
}
.header-navigation .menu-navigation {
  margin-left: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  -moz-column-gap: 0px;
       column-gap: 0px;
}
.header-navigation .menu-navigation .menu-item {
  height: 50px;
  font-family: "Oswald";
  font-size: 40px;
  color: rgb(117, 116, 116);
  text-decoration: none !important;
}
.header-navigation .menu-navigation .menu-item .home-button-menu {
  cursor: pointer;
}

.menu-item:hover {
  animation: grow 0.5s ease-in-out forwards, zoom 0.7s ease-in-out forwards;
  color: black;
}

.home-button-menu {
  cursor: pointer;
}

.logo-navigation {
  position: absolute;
  margin-left: 5%;
  margin: auto;
  margin-top: 1%;
  z-index: 101;
  height: 32px;
  width: auto;
  cursor: pointer;
}

.menu-item::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Adjust as needed */
  left: 0;
  width: 0;
  height: 2px; /* Adjust as needed */
  background-color: rgb(65, 65, 65); /* Adjust the color as needed */
  transition: width 0.4s ease;
}

.menu-item:hover::after {
  animation: underline-in 0.3s forwards;
}

.menu-item::after {
  animation: underline-out 0.3s reverse;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-5px);
  }
  50% {
    transform: translate(5px);
  }
  75% {
    transform: translate(-5px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes underline-in {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes underline-out {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
h3 {
  font-size: 26px;
  font-family: "Roboto Mono";
  font-weight: 300;
}

.portfolio {
  height: auto;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: rgb(156, 156, 156);
  width: 100%;
  border: 2px solid rgb(99, 99, 99);
}
.portfolio .content-area .entry-content .portfolio-each {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
  background-color: red;
  -moz-columns: 3;
       columns: 3;
  flex-wrap: wrap;
  padding: 20px;
  row-gap: 40px;
  height: auto;
}
.portfolio .content-area .entry-content .portfolio-each .portfolio-item {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(53, 52, 52);
  border-radius: 10px;
  width: 300px;
  height: 380px;
  margin: auto;
}
.portfolio .content-area .entry-content .portfolio-each .portfolio-item h3 {
  margin-left: 20%;
  justify-content: center;
  text-decoration: none !important;
}
.portfolio .content-area .entry-content .portfolio-each .portfolio-item .portfolio-thumbnail img {
  width: 80%;
  -o-object-fit: fill;
     object-fit: fill;
  margin-left: 30px;
}
.portfolio .content-area .entry-content .portfolio-each .portfolio-item .portfolio-description {
  padding: 5%;
}

.banner .header-image {
  position: relative;
  background-attachment: fixed;
  width: 100vw;
  height: 75vh;
  padding: 0px;
  -o-object-position: top;
     object-position: top;
  z-index: -1;
}
.banner .banner-title {
  opacity: 1;
  padding: 20px;
  position: absolute;
  width: 550px;
  font-size: 50px;
  top: 40%;
  left: 10%;
  background: white;
  color: black;
  mix-blend-mode: screen;
  border-radius: 50px;
}

#about-me {
  height: 50vh;
  background-image: url("");
  background-position: center;
  background-size: contain;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 30px;
  width: 100%;
  margin: auto;
}
#about-me .aboutme {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
#about-me .aboutme .about-me-info {
  justify-content: end;
  width: 40%;
  font-size: 20px;
}
#about-me .aboutme .photo-aboutme {
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 3px solid grey;
}

.banner-title:hover {
  animation: grow 1.2s ease-in-out forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1); /* Adjust the scale factor as needed */
  }
}
.projects-page {
  background-color: aliceblue;
}
.projects-page .main-post-div .content-here .banner-image {
  background-color: bisque;
  padding: 20px;
}
.projects-page .main-post-div .content-here .banner-image img {
  width: 50%;
  height: auto;
  margin-left: 25% !important;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid grey;
  justify-content: center;
  align-content: center;
}
.form-overlay {
  background-color: rgb(201, 7, 7);
}