h3 {
  font-size: 26px;
  font-family: "Roboto Mono";
  font-weight: 300;
}

.portfolio {
  height: 100vh;
  padding-bottom: -50px;
  padding-top: 50px;
  background: linear-gradient(0deg, rgb(131, 202, 203) 100%, rgb(166, 160, 246) 0%);
  width: 70%;
  margin-left: 30%;
}
.portfolio .portfolio-title {
  margin-left: 45% !important;
  margin-bottom: 50px;
}
.portfolio .content-area .entry-content .portfolio-each {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: space-evenly;
  width: 70%;
  margin-left: 10%;
  padding: 20px;
  height: auto;
}
.portfolio .content-area .entry-content .portfolio-each .portfolio-item {
  background-color: transparent;
  border-radius: 10px;
  width: 840px;
  height: 260px;
  margin-left: 10%;
}
.portfolio .content-area .entry-content .portfolio-each .portfolio-item:hover {
  box-shadow: 0 0 10px 3px rgb(246, 219, 160);
  background-color: rgba(255, 255, 255, 0.2);
}
.portfolio .content-area .entry-content .portfolio-each .portfolio-item h3 {
  margin-left: 55%;
  justify-content: center;
  text-decoration: none !important;
}
.portfolio .content-area .entry-content .portfolio-each .portfolio-item .portfolio-thumbnail img {
  width: 300px;
  height: 180px;
  margin-left: 30px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -20%;
}
.portfolio .content-area .entry-content .portfolio-each .portfolio-item .portfolio-description {
  padding-left: 40px;
}
.portfolio .content-area .entry-content .portfolio-each .portfolio-item .item-content {
  display: inline-flex;
}