h3{
    font-size:26px;
    font-family: 'Roboto Mono';
    font-weight: 300;
    
}
.portfolio{
    height:100vh;
    padding-bottom:50px;
    padding-top:50px;
    background-color: rgb(156, 156, 156);
    width:70%;
    border: 2px solid rgb(99, 99, 99);
    margin-left:30%;
    .portfolio-title{
    margin-left:55% !important;
   margin-bottom:50px;
}
    .content-area{
        

        .entry-content{

        .portfolio-each{
            display:flex;
            justify-content: space-evenly;
            width:80%;
            margin-left:10%;
            background-color: red;
            columns: 3;
            flex-wrap: wrap;
            padding:20px;
            row-gap: 40px;
            height:auto;
            .portfolio-item{
                
                background-color: rgb(255, 255, 255);
                border: 2px solid rgb(53, 52, 52);
                border-radius: 10px;
                width:300px;
                height:380px;
                margin:auto;
                & h3{
                    margin-left:20%;
                    justify-content: center;
                    text-decoration: none !important;
                }
                .portfolio-thumbnail img{
                    width:80%;
                    object-fit: fill;
                    margin-left:30px;
                }
                .portfolio-description{
                   padding:5%;
                }
                }
            }
        }
    }
}