.projects-page{
    background-color: aliceblue;

    .main-post-div{


        .content-here{

            .banner-image {
                background-color: bisque;
                padding:20px;
            }
            
            .banner-image img{
                width:50%;
                height:auto;
                margin-left:25% !important;
                object-fit: cover;
                border: 2px solid grey;
                justify-content: center;
                align-content: center;
            }
        
            .single-page-post-heading{

            }
        }
    }
}