#skills {
  border-top: 4px groove rgb(94, 94, 175);
  padding-top: 50px;
  padding-bottom: 150px;
  margin-left: 32%;
  background: linear-gradient(0deg, rgb(166, 160, 246) 30%, rgb(131, 202, 203) 90%);
}
#skills .skills-title {
  padding: 35px;
  margin-left: 40%;
}
#skills .skills-info {
  display: inline-flex;
  justify-content: space-evenly;
  margin-left: 27%;
}
#skills .skills-text {
  margin-left: 23%;
  font-size: 25px;
  width: 700px;
  text-align: center;
  justify-content: center;
}

.skills-info img {
  height: 65px;
  width: 65px;
  padding: 20px;
}